<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand"  routerLink="/home">Home</a>
  <div class="navbar-nav ml-auto">
    <a class="nav-link" routerLink="/uno" routerLinkActive="active">Uno</a>
    <a class="nav-link" routerLink="/dos" routerLinkActive="active">Dos</a>
    <a class="nav-link" routerLink="/tres" routerLinkActive="active">Tres</a>
  </div>
</nav>
<section class="layout">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

