<section class="home">
  <div class="container my-2">
    <h2 joyrideStep="pasoUno"
        [stepContent]="contenidoPasoUno">
      Home
    </h2>
    <ng-template #contenidoPasoUno>
      <p>Contenido paso 1</p>
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet pellentesque imperdiet. Integer at
      suscipit lorem. Vivamus quis neque ut sem porta ultrices. Integer nec enim nunc. Donec vitae viverra est. Quisque
      aliquam scelerisque justo, nec euismod augue elementum eget. Pellentesque porttitor et neque ac scelerisque. Sed
      efficitur ex ligula, sed sodales massa lacinia sit amet. Integer congue, sem vitae facilisis fringilla, justo ligula
      interdum libero, id semper erat nisi ut tellus. Donec quis viverra dolor, a elementum ligula. Phasellus efficitur
      erat a diam fringilla gravida. Vestibulum ultrices tristique accumsan.</p>
    <hr/>
    <p joyrideStep="pasoDos"
      [stepContent]="contenidoPasoDos">
      Aliquam ultrices aliquet consequat. Maecenas tincidunt nibh nec mi tristique efficitur. Pellentesque feugiat tortor
    elit, non eleifend lectus dapibus non. Ut quis mauris vitae erat hendrerit pretium. Cras feugiat sapien id neque sodales
    blandit non laoreet erat. Phasellus et dictum nulla, id pellentesque leo. Phasellus vitae eros interdum, faucibus justo
    et, tincidunt nibh. Curabitur orci arcu, euismod ac tortor ut, lacinia rhoncus lacus. Praesent a ipsum sit amet velit
    ullamcorper tempus. Vestibulum scelerisque felis gravida dapibus lobortis. Nulla venenatis tellus ac lectus volutpat, eu
    viverra tortor eleifend. Nulla facilisi.</p>
    <ng-template #contenidoPasoDos>
      <p>Contenido paso 2</p>
    </ng-template>
    <hr />
    <p>Ut tincidunt libero eu ornare malesuada. Nunc lobortis turpis eu massa congue, eget commodo neque lobortis. Sed tortor
    mauris, posuere ac pretium in, tempor at nunc. Pellentesque sagittis, leo vitae tempor facilisis, tellus erat aliquet
    odio, eget mollis risus tortor a mi. Proin porta non massa nec suscipit. Proin tincidunt odio at elit ullamcorper, et
    porta tortor molestie. Sed sed urna condimentum, ullamcorper leo sollicitudin, condimentum sapien.</p>
    <hr />
    <p>Mauris quis volutpat est, ac tincidunt ligula. Aenean id consequat nisi. Vestibulum volutpat sem sit amet vehicula
    varius. Fusce semper massa quis erat porttitor, vitae semper nulla ullamcorper. Phasellus eget libero tellus. Fusce vel
    tortor tempor, mollis turpis id, pretium purus. Morbi ut mauris nec augue tempus volutpat. Sed nibh metus, lacinia nec
    mauris a, faucibus laoreet erat. Curabitur auctor orci ac ligula lobortis suscipit quis ac justo. Quisque volutpat
    varius neque, et consectetur est dignissim non.</p>
    <hr />
    <p joyrideStep="pasoTres"
        [stepContent]="contenidoPasoTres">
      Mauris leo dui, pharetra at ultrices ut, congue porta orci. Cras sed mi nisl. Fusce id convallis nibh. Cras et augue ex.
    Nulla euismod nunc vel lobortis vestibulum. Donec nec posuere nunc. Mauris sit amet hendrerit ligula, et convallis nunc.
    Praesent dolor purus, viverra vel sapien a, vestibulum ultricies sapien. Fusce lacus neque, malesuada hendrerit metus a,
    placerat aliquet ligula. In vitae ultricies nulla, sit amet accumsan libero. Maecenas sed pretium nunc, et lacinia
    magna. Donec imperdiet ultricies dui, id venenatis mi sodales ac. Nullam sodales varius ipsum, et lobortis sapien
    iaculis nec. Morbi eu tincidunt orci.</p>
    <ng-template #contenidoPasoTres>
      <p>Contenido paso 3</p>
    </ng-template>
  </div>
</section>
